:root {
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f5;
}

header {
    padding: 20px 35px;
    background-image: url("./images/header.jpg");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-size: auto;
    background-attachment: fixed;
    background-size: cover;
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #f4f4f5;
    text-align: center;
    /*-webkit-text-stroke: .03vw #f4f4f5;*/
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #f4f4f5;
}